<!doctype html>
<html>
	<head>
		<title>Hackathon App</title>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<body>
		<div class="jumbotron text-center">
			<h1>Welcome to Hackathan Demo</h1>
		</div>
		<div style="max-width: 650px; margin: auto;">
			<h1>Upload Your Test Image</h1>
			<div class="form-group">	
				<form method=post enctype=multipart/form-data>
					<div class="form-group">
						<input type=file name=file>
					</div>
					 <button class="btn btn-lg btn-primary" id="upload-button" type="submit">Upload</button>
				</form>
			</div>
		</div>
	</body>
</html>